#root,html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app{
  height: 100%;
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./pexel.jpeg');
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card{
  width: 565px;
  height: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 36px;
  width: 146px;
  opacity: 1;
  background-color: rgb(205, 215, 224);
  border: 1px solid rgba(22,76,16,0.6);
}

@media only screen and (max-width:600px){
  .card{
    width: 80%;
    height: 30%;
  }
}